@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 99%;
    --foreground: 0 0% 11%;
    --card: 0 0% 98%;
    --card-foreground: 0 0% 11%;
    --popover: 0 0% 99%;
    --popover-foreground: 0 0% 11%;
    --primary: 0 0% 25.5%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 66%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 77%;
    --muted-foreground: 0 0% 23%;
    --accent: 0 0% 66%;
    --accent-foreground: 0 0% 11%;
    --destructive: 0 70% 39%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 66%;
    --input: 0 0% 50%;
    --ring: 0 0% 25.5%;
    --chart-1: 0 70% 39%;
    --chart-2: 142 52% 37%;
    --chart-3: 201 58% 38%;
    --chart-4: 45 70% 42%;
    --chart-5: 201 58% 38%;
    --radius: 0.5rem;

    --primary-30: #fcfcfc;
    --primary-50: #ececec;
    --primary-100: #c4c4c4;
    --primary-200: #a8a8a8;
    --primary-300: #808080;
    --primary-400: #676767;
    --primary-500: #414141;
    --primary-600: #3b3b3b;
    --primary-700: #2e2e2e;
    --primary-800: #242424;
    --primary-900: #1b1b1b;

    --secondary-50: #ececec;
    --secondary-100: #c4c4c4;
    --secondary-200: #a8a8a8;
    --secondary-300: #808080;
    --secondary-400: #808080;
    --secondary-500: #6c6c6c;
    --secondary-600: #525252;
    --secondary-700: #383838;
    --secondary-800: #2e2e2e;
    --secondary-900: #242424;

    --ps-neutral-30: #fcfcfc;
    --ps-neutral-50: #ececec;
    --ps-neutral-100: #c4c4c4;
    --ps-neutral-200: #a8a8a8;
    --ps-neutral-300: #808080;
    --ps-neutral-400: #676767;
    --ps-neutral-500: #414141;
    --ps-neutral-600: #3b3b3b;
    --ps-neutral-700: #2e2e2e;
    --ps-neutral-800: #242424;
    --ps-neutral-900: #1b1b1b;

    --error-50: #f7e8e8;
    --error-100: #e7b8b8;
    --error-200: #dc9696;
    --error-300: #cb6666;
    --error-400: #c14949;
    --error-500: #b21b1b;
    --error-600: #a21919;
    --error-700: #7e1313;
    --error-800: #620f0f;
    --error-900: #4b0b0b;

    --success-50: #e9f5eb;
    --success-100: #badfc0;
    --success-200: #98d0a1;
    --success-300: #69bb76;
    --success-400: #4cad5c;
    --success-500: #1f9933;
    --success-600: #1c8b2e;
    --success-700: #166d24;
    --success-800: #11541c;
    --success-900: #0d4015;

    --warning-50: #f7f4e9;
    --warning-100: #e7dcbb;
    --warning-200: #dccb9a;
    --warning-300: #cbb46c;
    --warning-400: #c1a550;
    --warning-500: #b28f24;
    --warning-600: #a28221;
    --warning-700: #7e661a;
    --warning-800: #624f14;
    --warning-900: #4b3c0f;

    --info-50: #e9f0f7;
    --info-100: #bbd1e7;
    --info-200: #9abbdc;
    --info-300: #6c9ccb;
    --info-400: #5089c1;
    --info-500: #246bb2;
    --info-600: #2161a2;
    --info-700: #1a4c7e;
    --info-800: #143b62;
    --info-900: #0f2d4b;
  }
  .dark {
    --background: 0 0% 11%;
    --foreground: 0 0% 99%;
    --card: 0 0% 11%;
    --card-foreground: 0 0% 99%;
    --popover: 0 0% 11%;
    --popover-foreground: 0 0% 99%;
    --primary: 0 0% 16%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 25%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 25%;
    --muted-foreground: 0 0% 65%;
    --accent: 0 0% 25%;
    --accent-foreground: 0 0% 99%;
    --destructive: 0 63% 46%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 25%;
    --input: 0 0% 50%;
    --ring: 0 0% 16%;
    --chart-1: 0 63% 46%;
    --chart-2: 142 52% 37%;
    --chart-3: 201 58% 38%;
    --chart-4: 45 70% 42%;
    --chart-5: 201 58% 38%;
    --radius: 0.5rem;

    --primary-30: #fcfcfc;
    --primary-50: #eae7e8;
    --primary-100: #bdb6b8;
    --primary-200: #9d9296;
    --primary-300: #706166;
    --primary-400: #544248;
    --primary-500: #29131a;
    --primary-600: #251118;
    --primary-700: #1d0d12;
    --primary-800: #170a0e;
    --primary-900: #11080b;

    --secondary-50: #fcf9f4;
    --secondary-100: #f6ecde;
    --secondary-200: #f1e3ce;
    --secondary-300: #ebd7b7;
    --secondary-400: #e7cfa9;
    --secondary-500: #e1c394;
    --secondary-600: #cdb187;
    --secondary-700: #a08a69;
    --secondary-800: #7c6b51;
    --secondary-900: #5f523e;

    --ps-neutral-30: #fcfcfc;
    --ps-neutral-50: #ececec;
    --ps-neutral-100: #c4c3c3;
    --ps-neutral-200: #a7a7a6;
    --ps-neutral-300: #7f7e7e;
    --ps-neutral-400: #666565;
    --ps-neutral-500: #403f3e;
    --ps-neutral-600: #3a3938;
    --ps-neutral-700: #2d2d2c;
    --ps-neutral-800: #232322;
    --ps-neutral-900: #1b1a1a;

    --error-50: #fdebeb;
    --error-100: #f9c2c2;
    --error-200: #f7a5a5;
    --error-300: #f37c7c;
    --error-400: #f16262;
    --error-500: #ed3b3b;
    --error-600: #d83636;
    --error-700: #a82a2a;
    --error-800: #822020;
    --error-900: #641919;

    --success-50: #e9f5eb;
    --success-100: #badfc0;
    --success-200: #98d0a1;
    --success-300: #69bb76;
    --success-400: #4cad5c;
    --success-500: #1f9933;
    --success-600: #1c8b2e;
    --success-700: #166d24;
    --success-800: #11541c;
    --success-900: #0d4015;

    --warning-50: #f7f4e9;
    --warning-100: #e7dcbb;
    --warning-200: #dccb9a;
    --warning-300: #cbb46c;
    --warning-400: #c1a550;
    --warning-500: #b28f24;
    --warning-600: #a28221;
    --warning-700: #7e661a;
    --warning-800: #624f14;
    --warning-900: #4b3c0f;

    --info-50: #e9f0f7;
    --info-100: #bbd1e7;
    --info-200: #9abbdc;
    --info-300: #6c9ccb;
    --info-400: #5089c1;
    --info-500: #246bb2;
    --info-600: #2161a2;
    --info-700: #1a4c7e;
    --info-800: #143b62;
    --info-900: #0f2d4b;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans';
  background-color: #fefefe;
}

.container {
  @apply px-4 md:px-[29px] lg:px-[72px];
}

/* For Webkit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3em;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-300);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-400);
}

::-webkit-scrollbar-track {
  background: var(--secondary-50);
  border-radius: 4px;
}

::selection {
  color: var(--primary-50);
  background-color: var(--secondary-400);
}

.passport-image {
  filter: brightness(1.15) contrast(1.1) saturate(1.05);
  background-color: var(--primary-30);
}
